@use "../../sass/variables.scss" as *;

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
    margin-bottom: 3rem;
}

table {
    width: min(100%, 120rem);
    margin-bottom: 3rem;

    tr {
        display: grid;
        grid-template-columns: 30% 30% 30% auto;
    }

    th,
    td {
        padding: 0 10px 0 10px;
    }

    th {
        color: $white;
        border-bottom: 5px solid #d9d9d9;
        border-collapse: collapse;
        padding-bottom: 40px;
        margin-bottom: 18px;
    }

    td {
        margin-top: 15px;
        color: $white;
    }

    .tarefasTop {
        display: inline-block;
        text-align: left;
        font-size: 30px;
        font-family: Raleway;
        font-weight: 600;
    }

    .statusTop {
        display: inline-block;
        text-align: center;
        font-size: 30px;
        font-family: Raleway;
        font-weight: 600;
    }

    .optionsTop {
        display: inline-block;
        text-align: right;
        font-size: 30px;
        font-family: Raleway;
        font-weight: 600;
    }

    .tarefas {
        display: inline-block;
        text-align: left;
        font-size: 25px;
        font-family: Raleway;
        font-weight: 400;

    }

    .categoria {
        display: inline-block;
        text-align: left;
        font-size: 25px;
        font-family: Raleway;
        font-weight: 400;
        background-color: rgb(53, 53, 53);
        border-radius: 8px;

        width: 70%;
    }

    .status {
        display: inline-block;
        text-align: center;
        font-size: 25px;
        font-family: Raleway;
        font-weight: 400;
    }

    .options {
        display: inline-block;
        text-align: right;
        font-size: 25px;
        font-family: Raleway;
        font-weight: 400;

        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
    }

    svg:hover {
        
        cursor: pointer;

    }

    input[type="checkbox"]:checked~svg {
        color: $sec-color;
    }
}